.my-header{
    color: blueviolet;
}

.my-item{
    color: blueviolet;
    text-align: center;
}

.my-navbar{
    background-color: burlywood !important;
    font-family: 'Times New Roman', Times, serif ;
}

.my-button{
    border: 20px solid red;
}

body{
    background-color: #20B2AA;
    color:black;
    font-size: 16px;
    font-family: 'Dancing Script', cursive;
}

.my-food{
    background-color: #FFD700;
    border: 1px solid;
}

#header:hover{
    display: block;
    
}